<header class="section">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-1 subfooter-left" style="
          position: relative;
          margin-top: -36px;
      ">
           <a href='/'> <%= image_tag "",:width => "50px" %></a>
          </div>
    <div class="w-col w-col-5 subfooter-left" style="
        left: -26px;
        margin-top: 0px;
    ">
            <div class="app-name">Developer Portal</div>
          </div>
      <div class="w-col w-col-6 nav-column" data-role='nav-links'>
        <% if signed_in? -%>
      <div class="welcome">Welcome, <%= current_user.email %></div>
       <%=   link_to "<i class='fa fa-sign-out'></i> Sign out".html_safe, destroy_user_session_path, method: "delete", "ng-click" => "signout()",style:"margin:50px" %>
    <% else -%>
      <%= link_to "Sign in with IdleCampus", user_omniauth_authorize_path(:doorkeeper) %>
  
          </span>
          
    <% end -%>
      </div>
    </div>
  </header>